.technologies-section {
    text-align: center;
    max-width: 500px; /* Limit the width */
    margin: 0 auto; /* Center the section */
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .technologies-section ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 6px; /* Further reduced gap for more density */
    list-style: none; /* Removes the bullet points */
    padding: 0; /* Removes default padding */
    margin: 0 auto; /* Centers the grid */
    padding-top: 5%;
  }
  
  .technologies-section li a {
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack logo and label vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  .technologies-section li a img {
    height: 60px;
    margin-bottom: 4px; /* Reduced space between image and label */
    
    transition: filter 0.1s, transform 0.1s; /* Transition effect for 0.3 seconds */
  }
  
  .technologies-section li a img:hover {
    filter: grayscale(0%); /* Show colors on hover */
    transform: scale(1.4); /* Scale the image up to 110% */
  }
  
  
  .technologies-section li a span {
    margin-top: 6px;
    margin-bottom: 10px;
    color: #808080; /* Gray text by default */
  }

  .create-own{
    margin: 10%;
  }
  