:root {
  --ifm-color-primary: #9861ff;
  --ifm-color-primary-dark: #813eff;
  --ifm-color-primary-darker: #762cff;
  --ifm-color-primary-darkest: #5600f6;
  --ifm-color-primary-light: #af84ff;
  --ifm-color-primary-lighter: #ba96ff;
  --ifm-color-primary-lightest: #ddcbff;
  
}
