.hero-features-section {
  text-align: center;
}

.hero-features-section ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero-features-section li {
  margin: 0 16px;
  text-align: center;
}

.hero-features-section li img {
  height: 60px;
  margin-bottom: 8px;
}

.hero-features-section li span {
  display: block;
}
